#navigation_bar {
    background-color: rgba(45,45,45,0.98);
    width: 100%;
    height: 40px;
    margin: 0 auto;
}

li img {
    width: 20px;
    height: 20px;
}


.navigation_bar li {
    display: inline-block;
    float: left;
    color: #ffffff;
    font-size: 14px;
    font-family:sans-serif ;
    font-weight: normal;
    margin:;
}


